/* 
 * index.html v0.5.0
 * Updata : 2019.09.27
 * Author : JongHyun.Kim
*/

.head {
    color: darkgoldenrod;
    text-align: center;
    font-size: 40px;
    margin:20px;
}

h1{
    color: #BDBDBD;
    background: #585858;
    text-align: center;
    
}

ul {
    background: #585858;
    padding: 0px 10px 10px 15px;
    list-style: none;
    text-align: left;
}

ul li {
    font-size: 25px;
    margin-right: 30px;
    display: inline;
}

ul li a {
    font-size: 15px;
    color: #BDBDBD;
    font-weight: bolder;
    text-decoration:none;
}

.block{
    padding: 10px;
    margin-right: 50px;
    font-size: 60px;
    color: #BDBDBD;
    background: #585858;
    display: inline;
    border: 3px solid;
    
}
.section1{
    padding: 1px 0px 20px 0px;
    text-align: center;
    background-color: #F8E0EC;
}

.section2{
    text-align: center;
    background-color: #F8E0EC;
}

.section3{
    padding: 1px 0px 20px 0px;
    text-align: center;
    background-color: #AFA9B0;
}

.section4{
    padding: 1px 0px 20px 0px;
    text-align: center;
    background-color: #99DE6B;
}

.section5{
    padding: 1px 0px 20px 0px;
    text-align: center;
    background-color:#E1BD7B;
}

.home_title{
    font-size: 15px;
    color: black;
}

h3{
    margin-bottom: 30px;
}

.image-corpper-50{
    height: 200px;
    margin: 15px;
    width: 200px;
    -webkit-border-radisu: 50%;
    -moz-border-radius:50%;
    -ms-border-radius:50%;
    -o-border-radius:50%;
    border-radius: 50%;
}

.image-corpper-25{
    height: 200px;
    margin: 15px;
    width: 200px;
    -webkit-border-radisu: 25%;
    -moz-border-radius:25%;
    -ms-border-radius:25%;
    -o-border-radius:25%;
    border-radius: 25%;
}

.image-corpper-5{
    height: 200px;
    margin: 15px;
    width: 200px;
    -webkit-border-radisu: 5%;
    -moz-border-radius:5%;
    -ms-border-radius:5%;
    -o-border-radius:5%;
    border-radius: 5%;
}

table{
    width: 500px;
    height: 300px;
    margin: 0px auto;
    border-collapse: collapse;
    border-color: crimson
}

.tablesize{
    width: 25%;
}

.grid{
    display: flex;
}

.BG1{
    background-color: aqua;
    width: 50%;
    padding: 1px 0px 20px 0px;
    text-align: center;
    font-size: 30px;
}
.BG2{
    background-color: chartreuse;
    width: 50%;
    padding: 1px 0px 20px 0px;
    text-align: center;
    font-size: 30px;
}
.BG3{
    background-color: deeppink;
    text-align: center;
    padding: 40px;
    font-size: 30px;
}

